/* FLECHA para cambiar */
.tm-down-arrow-link {
    display: block;
    margin-top: 18%;
  }
  
  .tm-down-arrow {
        color: #FFF;
      cursor: pointer;
      background: #357;
      padding: 15px 40px;
      transition: all 0.3s ease;
  }
  
  .tm-down-arrow:hover,
  .tm-down-arrow:focus {
    color: #FFF;
    background: #37A;
    padding: 20px 50px;
  }

/* COLORES PARA EL SITIO WEB */


#azul {
    color: #002d62;
}


#rojo {
    color: #ce1126;
}


#verde {
    color: #006945;
}


#blanco {
    color: #ffffff;
}

#negro {
    color: #292321;
}

#gris {
    color: #333;
}